.appContainer {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
  text-align: center;
  width: 100%;
}
